/* ---------------------------------------主页的背景样式---------------------------------------------------------------- */
body {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url('../assets/battleship_background.png') no-repeat center fixed;
    background-size: cover;
    color: #14233b;
    text-align: center;
}
/* ---------------------------------------主页的背景样式---------------------------------------------------------------- */

/* ---------------------------------------------导航栏样式------------------------------------------------------------- */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(180deg, #14233b 80%, rgba(20, 35, 59, 0.8));
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
    border-bottom: 2px solid #0d182c;
    transition: all 0.3s ease-in-out;
}

nav h1 {
    margin-right: 20px;
    font-size: 26px;
    text-transform: uppercase;
    color: #00aaff;
    text-shadow: 2px 2px 8px rgba(0, 170, 255, 0.7);
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

nav ul li a.active {
    background-color: #00aaff;
    color: #14233b;
    box-shadow: 0px 0px 8px rgba(0, 170, 255, 0.8);
}
/* ---------------------------------------------导航栏样式------------------------------------------------------------- */

/* ---------------------------------------------主页hero版块----------------------------------------------------------- */
.hero {
    margin-top: 100px;
    padding: 20px;
}

.hero img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 170, 255, 0.8);
}

.h2-font {
    font-size: 35px;
    color: rgba(20, 35, 59, 0.8);
}

.normal-font {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: rgba(20, 35, 59, 0.8);
    text-shadow: 2px 2px 5px rgba(0, 170, 255, 0.5);
}
/* ---------------------------------------------主页hero版块----------------------------------------------------------- */