/* 规则页面标题样式 */
h2 {
    font-size: 32px;
    color: rgba(20, 35, 59, 0.8);
    margin-top: 100px;
}

/* 规则列表 */
.rule {
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: rgba(20, 35, 59, 0.8);
    line-height: 1.6;
    padding-left: 20px;
    font-weight: bold;
}

.rule li {
    margin-bottom: 8px;
    list-style-type: none;;
}

/* Made by标题 */
h3 {
    font-size: 28px;
    color: rgba(20, 35, 59, 0.8);
    margin-top: 20px;
    text-shadow: 1px 1px 5px rgba(0, 170, 255, 0.7);
}

/* 个人信息链接样式 */
.styled-link {
    color: #1200ff;
    font-size: 18px;
    text-decoration: none;
}

.styled-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* 响应式设计 */
@media (max-width: 768px) {
    .rule {
        font-size: 18px;
    }

    .styled-link {
        font-size: 16px;
    }
}
